<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OptimusRecordsClient</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>getemployee</servlet-name>
    <servlet-class>optimus.client.v1.GetEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addemployee</servlet-name>
    <servlet-class>optimus.client.v1.AddEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateemployee</servlet-name>
    <servlet-class>optimus.client.v1.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getemployee</servlet-name>
    <url-pattern>/optimus/client/v1/getemployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addemployee</servlet-name>
    <url-pattern>/optimus/client/v1/addemployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateemployee</servlet-name>
    <url-pattern>/optimus/client/v1/updateemployee</url-pattern>
  </servlet-mapping>
</web-app>